==
<div class="footer-container">

  <div class="footer-row">

    <div class="footer-block">
      <h6 class="footer-block-title">October</h6>

      <p><a href="https://octobercms.com/" class="footer-link">{{'footer.homeOctober'|_}}</a></p>
      <p><a href="https://octobercms.com/features" class="footer-link">{{'footer.features'|_}}</a></p>
      <p><a href="https://octobercms.com/blog" class="footer-link">{{'footer.blog'|_}}</a></p>
      <p><a href="https://octobercms.com/about" class="footer-link">{{'footer.about'|_}}</a></p>
      <p><a href="https://octobercms.com/help/terms/marketplace" class="footer-link">{{'footer.termsConditions'|_}}</a></p>
    </div>

    <div class="footer-block">
      <h6 class="footer-block-title">{{'footer.additionalInfo'|_}}</h6>

      <p><a href="{{ 'about_us'|page }}" alt="Enlace a la página sobre nosotros" class="footer-link">{{'footer.aboutUs'|_}}</a></p>
      <p><a href="{{ 'politica_privacidad'|page }}" alt="Enlace a la página de Política de privacidad" class="footer-link">{{'footer.PrivacyPolicy'|_}}</a></p>
      <p><a href="{{ 'politica_cookies'|page }}" alt="Enlace a la página de Política de Cookies"class="footer-link">{{'footer.CookiesPolicy'|_}}</a></p>
    </div>

    <div class="footer-block">
      <h6 class="footer-block-title"><a href="{{ 'contact'|page }}" alt="Contact page link">{{ 'nav.contact'|_ }}</a></h6>
      
      <p>795 El Camino Real, Palo Alto, CA 94301, United States</p>
      <p><a href="mailto:blog@refineriaweb.com" class="footer-link" alt="Enlace de correo electrónico">blog@refineriaweb.com</a></p>
      <p><a href="tel:0123456788" alt="Enlace de teléfono" class="footer-link">+ 01 234 567 88</a></p>
      <p><a href="tel:0123456789" alt="Enlace de teléfono" class="footer-link">+ 01 234 567 89</a></p>
    </div>

  </div>

  <div class="footer-copyright text-center">© 2020 Copyright: Refineria Web</div>

</div>

