<meta charset="utf-8">
<title>Bloggilife - {{ this.page.title }}</title>
<meta name="description" content="{{ this.page.meta_description }}">
<meta name="title" content="{{ this.page.meta_title }}">
<meta name="author" content="Amunoz">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="generator" content="Blog">

<link rel="icon" type="image/png" href="{{ 'assets/images/favicon.ico'|theme }}">

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<link href="{{ 'assets/css/app.css'|theme }}" rel="stylesheet">
{% styles %}

