==
<!-- Nav -->
<nav class="navbar navbar-expand-lg {% if this.page.id == 'home' %} fixed-top {% endif %}">

    <a class="navbar-brand" href="{{ 'home'|page }}">
        <img src="{{ 'assets/images/blog-logo-small.png'|theme }}" alt="Main logo" />
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">

        <ul class="navbar-nav mr-auto">

            <li class="nav-item {% if this.page.id == 'home' %}active{% endif %}">
                <a href="{{ 'home'|page }}" class="nav-link">{{'nav.home'|_}}</a>
            </li>

            <li class="nav-item {% if this.page.id == 'posts' %}active{% endif %}">
                <a href="{{ 'posts'|page }}" class="nav-link">{{'nav.posts'|_}}</a>
            </li>

            <li class="nav-item {% if this.page.id == 'categories' %}active{% endif %}">
                <a href="{{ 'categories'|page }}" class="nav-link">{{'nav.categories'|_}}</a>
            </li>

            <li class="nav-item {% if this.page.id == 'about_us' %}active{% endif %}">
                <a href="{{ 'about_us'|page }}" class="nav-link">{{'nav.about'|_}}</a>
            </li>

            <li class="nav-item {% if this.page.id == 'contact' %}active{% endif %}">
                <a href="{{ 'contact'|page }}" class="nav-link">{{'nav.contact'|_}}</a>
            </li>
        </ul>

        <!-- Language selector -->
        <div class="navbar-right">

            <span>
                <i class="fas fa-globe"></i>
            </span > 

            {% component 'localePicker' %}

        </div>

    </div>
</nav>
