<!-- Scripts -->
<script type="text/javascript" src="https://kit.fontawesome.com/6ee292b1d2.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
<script type="text/javascript" src="{{ 'assets/js/app.js'|theme }}"></script>
{% framework extras %}
{% scripts %}
