/* Cookie constent styles */

.cookie-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @if $consent_float == 'right' {  
        padding-right: 1rem;                
    }
    @else {
        padding-left: 1rem;
    }

    @if $consent_size == 'large' {
        padding: 0;
    }

    .cookie-container {
        display: flex;
        
        justify-content: center;

        background-color: $background_color;
        border-radius: 5px;
        box-shadow: 0 6px 6px rgba(0,0,0,0.25);

        position: fixed;
        padding: 0.8rem;

        z-index: 999999;

        @if $consent_size == 'mini' {
            width: 25%;
            flex-direction: column;

            @if $consent_float == 'right' {  
                align-self: flex-end;                
            }
            @else {
                align-self: flex-start;
            }

            @if $consent_position == 'bottom' {
                bottom: 1rem;
            }
            @else {
                top: 1rem; 
            }
        }
        @else {
            width: 100%;
            flex-direction: row;

            @if $consent_position == 'bottom' {
                bottom: 0;
            }
            @else {
                top: 0; 
            }
        }

        .content-wrapper {
            display: flex;
            flex-direction: column;

            .title {
                display: flex;
                color: $title_color;
                font-size: 1.2em;
                margin-bottom: 1em;
            }

            .message {
                display: flex;
                flex-direction: column;
                color: $message_color;
                font-size: 1em;
                line-height: 1.5em;

                .link {
                    color: $link_color;
                    text-decoration: none;
                    font-size: 1em;          
                    transition: all 0.3s ease-in;

                    &:hover {
                        color: $link_color_hover;
                        border-bottom-color: $link_color_hover;
                        transition: all 0.3s ease-in;
                    }
                } 
            }
        }      

        .cookie-types-wrapper {
            display:none;
            flex-direction: column;

            .cookie-types-title {
                display: flex;
                color: $cookie_types_title_color;
                font-size: 1em;
                font-weight: 500;
                margin-bottom: 1rem;
            }

            .cookies-list {
                display: flex;
                flex-direction: column;
                color: $fixed_cookie_type_text_color;
                font-size: 1em;
                line-height: 1.5em;

                .cookies-item {
                    width: 49%;
                    display: inline-block;
                }
            }
        }

        .button-section {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 1rem;

            button {
                border: none;
                font-size: 1em;
                padding: 0.5rem;
                border-radius: 3px;
                cursor: pointer;
                transition: all 0.3s ease-in;

                &:hover {
                    transition: all 0.3s ease-in;
                }

                &.accept {
                    background: $accept_btn_background_color;
                    color: $accept_btn_text_color;

                    &:hover {
                        background: $accept_btn_background_color_hover;
                        color: $accept_btn_text_color_hover;
                    }
                }

                &.advanced {
                    background: $advanced_btn_background_color;
                    color: $accept_btn_text_color;

                    &:hover {
                        background: $accept_btn_background_color_hover;
                        color: $accept_btn_text_color_hover;
                    }

                    &:disabled {
                        opacity: 0.3;
                    }
                }
            }
        }

        input[type="checkbox"] {
            float: none;
            margin-top: 0;
            margin-right: .5rem;
        }
    }

}
