//
// Buttons styles
//

// Basic link styles
a {
    color: $primary-color;
    text-decoration: none;

    &:focus {
        color: $secondary-color;
        text-decoration: none;
        outline: none;
    }

    &:active {
        color: $primary-color;
        text-decoration: none;
    }

    &:visited {
        color: $primary-color;
        text-decoration: none;
    }

    &:hover {
        color: $secondary-color;
        text-decoration: none;
    }
}

//
// Read more button animated
//
.readmore-button {
    display: inline-block;
    padding: .55rem 1rem;
    border-radius: 10rem;
    border: 1px solid $third-color;
    color: $third-color !important;
    font-size: .8em;
    font-family: $font-family-medium;
    text-transform: uppercase;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary-color;
        border-radius: 10rem;
        z-index: -2;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($primary-color, 15%);
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
    }

    &:hover {
        color: $third-color;

        &:before {
            width: 100%;
        }
    }
}

//
// Post button extends readmore-button
//
.post-item-button {
    @extend .readmore-button;

    color: $primary-color !important;

    &:after {
        background-color: $third-color;
    }

    &:before {
        background-color: darken($primary-color, 15%);
    }

    &:hover {
        color: $third-color !important;;
    }
}


//
// Search button
//
.search-button {
    @extend .readmore-button;
}
