//
// Carousel in categories component list.hmt
//

.carousel-categories {
  height: 250px;
  margin-top: 2rem;
  margin-bottom: 2rem;

  .carousel-control-prev {
    font-size: 2rem;
    color: $secondary-color;
    opacity: 0.8;

    &:hover, &:active, &:focus, &:visited {
      color: $primary-color;
    }

    .fa-chevron-left{
      &:before {
       content: "\f137";
       font-family: "FontAwesome";
     }
   }
 }

 .carousel-control-next {
    font-size: 2rem;
    color: $secondary-color;
    opacity: 0.8;

    &:hover, &:active, &:focus, &:visited {
      color: $primary-color;
    }

    .fa-chevron-right{
      font-size: 2rem;

      &:before {
        content: "\f138";
        font-family: "FontAwesome";
      }
    }
  }
}



@media (min-width: 768px) and (max-width: 991px) {

  /* Show 4th slide on md if col-md-4*/
  .carousel-inner-categories .active.col-md-4.carousel-item-categories + .carousel-item-categories + .carousel-item-categories + .carousel-item-categories {
    position: absolute;
    top: 0;
    right: -33.3333%;  /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  /* Show 3rd slide on sm if col-sm-6*/
  .carousel-inner-categories .active.col-sm-6.carousel-item-categories + .carousel-item-categories + .carousel-item-categories {
    position: absolute;
    top: 0;
    right: -50%;  /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
}

@media (min-width: 576px) {

  .carousel-inner-categories {
    .carousel-item {
      margin-right: 0;
    }
  }
  
  /* show 2 items */
  .carousel-inner-categories .active + .carousel-item-categories {
    display: block;
  }
  .carousel-inner-categories .carousel-item-categories.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner-categories .carousel-item-categories.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item-categories {
    transition: none;
  }
  .carousel-inner-categories .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  /* left or forward direction */
  .carousel-inner-categories .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-inner-categories .carousel-item-next.carousel-item-left + .carousel-item-categories,
  .carousel-inner-categories .carousel-item-next.carousel-item-left + .carousel-item-categories + .carousel-item-categories {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* farthest right hidden item must be also positioned for animations */
  .carousel-inner-categories .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* right or prev direction */
  .carousel-inner-categories .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-inner-categories .carousel-item-prev.carousel-item-right + .carousel-item-categories,
  .carousel-inner-categories .carousel-item-prev.carousel-item-right + .carousel-item-categories + .carousel-item-categories {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

/* MD */
@media (min-width: 768px) {
  /* show 3rd of 3 item slide */
  .carousel-inner-categories .active + .carousel-item-categories + .carousel-item-categories {
    display: block;
  }
  .carousel-inner-categories .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
  }
  .carousel-inner-categories .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  /* left or forward direction */
  .carousel-item-next.carousel-item-left + .carousel-item-categories + .carousel-item-categories + .carousel-item-categories {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* right or prev direction */
  .carousel-item-prev.carousel-item-right + .carousel-item-categories + .carousel-item-categories + .carousel-item-categories {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

/* LG */
@media (min-width: 991px) {
  /* show 4th item */
  .carousel-inner-categories .active + .carousel-item-categories + .carousel-item-categories + .carousel-item-categories {
    display: block;
  }
  .carousel-inner-categories .carousel-item-categories.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item-categories + .carousel-item-categories + .carousel-item-categories {
    transition: none;
  }
  /* Show 5th slide on lg if col-lg-3 */
  .carousel-inner-categories .active.col-lg-3.carousel-item-categories + .carousel-item-categories + .carousel-item-categories + .carousel-item-categories + .carousel-item-categories {
    position: absolute;
    top: 0;
    right: -25%;  /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* left or forward direction */
  .carousel-inner-categories .carousel-item-next.carousel-item-left + .carousel-item-categories + .carousel-item-categories + .carousel-item-categories + .carousel-item-categories {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* right or prev direction //t - previous slide direction last item animation fix */
  .carousel-inner-categories .carousel-item-prev.carousel-item-right + .carousel-item-categories + .carousel-item-categories + .carousel-item-categories + .carousel-item-categories {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}