//
// Categories list with carousel 
//

.category-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 4rem;

    .category-item {

        .category-title {
            border-bottom: 1px solid $primary-color;

            a {
                .title {
                    font-family: $font-family-bold;
                    color: $primary-color;
                }
            }
        }

        .category-description {
            margin-top: .5rem;
            
            p {
                font-family: $font-family-regular;
                font-size: 1rem;
            }
        }

        .category-posts {
            display: flex;
            flex-direction: column;

            .posts-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: center;

                @media (min-width: $sm) {
                    justify-content: flex-start;
                }

                .post-item {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 90%;
                    min-height: 200px;
                    border-radius: 2%;
                    margin-bottom: 2em;
                    margin-right: 2em;
                    padding-top: 1em;
                    background-color: $secondary-color;

                    -webkit-box-shadow: 2px 5px 2px 0px rgba(168,168,168,1);
                    -moz-box-shadow: 2px 5px 2px 0px rgba(168,168,168,1);
                    box-shadow: 2px 5px 2px 0px rgba(168,168,168,1);

                    @media (min-width: $sm) {
                        flex-basis: 45%;
                    }

                    @media (min-width: $md) {
                        flex-basis: 33.33%;
                    }

                    @media (min-width: $lg) {
                        flex-basis: 20%;
                    }

                    img {
                        max-height: 120px;
                    }

                    .post-content {
                        display: flex;
                        flex-basis: 100%;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;

                        .post-title {
                            display: flex;
                            margin-bottom: 1rem;
                            width: 100%;
                            justify-content: center;
                            color: $third-color;
                            font-family: $font-family-bold;
                        }

                        .post-item-button {
                            margin-top: 1rem;
                            margin-bottom: 2rem;
                        }
                    }
                }
            }
        }
    }

    .items-not-found {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .img-wrapper {
            display: flex;
            justify-content: center;

            .icon-not-found {
                @extend .img-fluid;
                max-height: 200px;
            }
        }

        .info {
            display: flex;
            justify-content: center;
            margin-top: 2rem;

            h3 {
                color: $primary-color;
                font-family: $font-family-bold;
            }
        }

    }

}
