//
// Home page Category grid styles
//

.category-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 2em;

    @media (min-width: $sm) {
        justify-content: flex-start;
    }

    .category-item {
        display: flex;
        flex-basis: 90%;
        min-height: 200px;
        background-size: cover;
        background-position: center;
        border-radius: 2%;
        margin-bottom: 2em;
        margin-right: 2em;
        padding-top: 1em;

        -webkit-box-shadow: 2px 5px 2px 0px rgba(168,168,168,1);
        -moz-box-shadow: 2px 5px 2px 0px rgba(168,168,168,1);
        box-shadow: 2px 5px 2px 0px rgba(168,168,168,1);

        @media (min-width: $sm) {
            flex-basis: 45%;
        }

        @media (min-width: $md) {
            flex-basis: 33.33%;
        }

        @media (min-width: $lg) {
            flex-basis: 20%;
        }

        &:hover {
            -webkit-box-shadow: 5px 7px 5px 0px rgba(168,168,168,1);
            -moz-box-shadow: 5px 7px 5px 0px rgba(168,168,168,1);
            box-shadow: 5px 7px 5px 0px rgba(168,168,168,1);
        }

        .item-content {
            display: flex;
            flex-basis: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .item-title {
                display: flex;
                margin-bottom: 1rem;
                background-color: $primary-color;
                width: 100%;
                justify-content: center;
                align-items: center;

                h4{
                    font-family: $font-family-bold;
                    color: $third-color;
                    margin-top: 10px;
                }
            }

            .item-description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items:center;
                text-align: center;
                margin-bottom: 1rem;
                padding: 1rem;

                p{
                    color: $third-color;
                    font-family: $font-family-regular;
                    text-shadow: 1px 1px #000;
                }

                .badge {
                    display: flex;
                    justify-content: center;
                    padding: 0;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    font-size: 14px;
                    font-weight: lighter;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: baseline;
                    border-radius: 50px;
                    border: 2px solid $primary-color;
                    position: relative;
                    top: -3px;
                    background-color: $third-color;
                    color: $primary-color;
                    font-family: $font-family-bold;
                }
            }

            .more-info {
                display: flex;
                justify-content: center;
                margin-bottom: 2rem;

                a{
                    border: 2px solid $third-color;
                }
            }
        }    
    }

    &.not-found {
        @media (min-width: $sm) {
            justify-content: center;
        }
    }

    .items-not-found {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .img-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .icon-not-found {
                @extend .img-fluid;
                max-height: 200px;
            }
        }

        .info {
            display: flex;
            justify-content: center;
            margin-top: 2rem;

            h3 {
                color: $primary-color;
                font-family: $font-family-bold;
            }
        }
    }

}

