//
// Posts list
//

.post-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin-top: 2rem;
    margin-bottom: 2rem;


    .post-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 2rem;

        @media (min-width: $md) {
            flex-direction: row;
        }

        .post-image {
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;
    
            @media (min-width: $md) {
                padding-right: 1rem;
                margin-bottom: 0;
            }

            img {
                max-height: 200px;
            }
        }

        .post-content {
            display: flex;
            flex-direction: column;

            .post-header {
                display: flex;
                flex-direction: row;
                align-items: center;
                border-bottom: 2px solid $primary-color;
                padding-bottom: 1rem;

                a {

                    .post-title {
                        margin-top: 0;
                        margin-bottom: 0;
                        font-family: $font-family-bold;
                        color: $primary-color;
                    }

                    &:hover{
                        .post-title {
                            color: $secondary-color;
                        }
                    }
                }
            }

            .info {
                display: block;
                align-items: right;
                vertical-align: bottom;
                margin-top: 1rem;
            }

            .post-body {
                display: flex;
                justify-content: center;


                .summary {
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                }
            }

            .post-tags {
                padding-left: 1rem;
            }

            .post-footer {
                display: flex;
                justify-content: center;
                margin-top: 2rem;

                @media (min-width: $md) {
                    justify-content: flex-end;
                    margin-top: 0;
                }
            }
        }
    }

    .items-not-found {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .img-wrapper {
            display: flex;
            justify-content: center;

            img {
                @extend .img-fluid;
            }
        }

        .info {
            display: flex;
            justify-content: center;
            margin-top: 2rem;

            h3 {
                color: $primary-color;
                font-family: $font-family-bold;
            }
        }

    }

    .button-section {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }

}
