//
// Post component from plugin BlogRW
// BlogRW/Blog/components/post/default.htm
//

.post-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;

    .info {

    }

    .cover {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 2rem;

        p{
            display: flex;
        }
    }

    .gallery-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 2rem;

        .gallery-title {
            border-bottom: 2px solid $primary-color;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
        }

        .gallery {
            display: grid;
            margin-top: 2rem;
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;

            img {
                max-width: 100%;
                padding: 7px 0;
            }

            @media (min-width: $sm) {
                -webkit-column-count: 3;
                -moz-column-count: 3;
                column-count: 3;
            }

            @media (min-width: $lg) {
                -webkit-column-count: 4;
                -moz-column-count: 4;
                column-count: 4;
            }
        }
    }

    .button-wrapper {
        margin-top: 2rem;
    }
}