//
// Search form styles
//

.search-form {

	margin-top: 1rem;

	.form-row {

		.form-group {

			label {
				font-family: $font-family-bold;
				color: $primary-color;
			}
		}
	}

	.form-group {

		&.btn-section {
			text-align: center;
		}

		.search-button {

			i {
				margin-right: .5rem;
			}

		}
	}

}