/* Cookie constent styles */
.cookie-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1rem; }
  .cookie-wrapper .cookie-container {
    display: flex;
    justify-content: center;
    background-color: #037EAD;
    border-radius: 5px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
    position: fixed;
    padding: 0.8rem;
    z-index: 999999;
    width: 25%;
    flex-direction: column;
    align-self: flex-end;
    bottom: 1rem; }
    .cookie-wrapper .cookie-container .content-wrapper {
      display: flex;
      flex-direction: column; }
      .cookie-wrapper .cookie-container .content-wrapper .title {
        display: flex;
        color: #FFFFFF;
        font-size: 1.2em;
        margin-bottom: 1em; }
      .cookie-wrapper .cookie-container .content-wrapper .message {
        display: flex;
        flex-direction: column;
        color: #FFFFFF;
        font-size: 1em;
        line-height: 1.5em; }
        .cookie-wrapper .cookie-container .content-wrapper .message .link {
          color: #FFFFFF;
          text-decoration: none;
          font-size: 1em;
          transition: all 0.3s ease-in; }
          .cookie-wrapper .cookie-container .content-wrapper .message .link:hover {
            color: #666666;
            border-bottom-color: #666666;
            transition: all 0.3s ease-in; }
    .cookie-wrapper .cookie-container .cookie-types-wrapper {
      display: none;
      flex-direction: column; }
      .cookie-wrapper .cookie-container .cookie-types-wrapper .cookie-types-title {
        display: flex;
        color: #FFFFFF;
        font-size: 1em;
        font-weight: 500;
        margin-bottom: 1rem; }
      .cookie-wrapper .cookie-container .cookie-types-wrapper .cookies-list {
        display: flex;
        flex-direction: column;
        color: #FFFFFF;
        font-size: 1em;
        line-height: 1.5em; }
        .cookie-wrapper .cookie-container .cookie-types-wrapper .cookies-list .cookies-item {
          width: 49%;
          display: inline-block; }
    .cookie-wrapper .cookie-container .button-section {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 1rem; }
      .cookie-wrapper .cookie-container .button-section button {
        border: none;
        font-size: 1em;
        padding: 0.5rem;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.3s ease-in; }
        .cookie-wrapper .cookie-container .button-section button:hover {
          transition: all 0.3s ease-in; }
        .cookie-wrapper .cookie-container .button-section button.accept {
          background: #039199;
          color: #FFFFFF; }
          .cookie-wrapper .cookie-container .button-section button.accept:hover {
            background: "";
            color: ""; }
        .cookie-wrapper .cookie-container .button-section button.advanced {
          background: #037EAD;
          color: #FFFFFF; }
          .cookie-wrapper .cookie-container .button-section button.advanced:hover {
            background: "";
            color: ""; }
          .cookie-wrapper .cookie-container .button-section button.advanced:disabled {
            opacity: 0.3; }
    .cookie-wrapper .cookie-container input[type="checkbox"] {
      float: none;
      margin-top: 0;
      margin-right: 0.5rem; }
