/* Cookie Dialog Preview */
#preview {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 1rem;
    margin: 0 20px;
    width: 50em;
    border: 2px solid #CCCCCC;
    height: 30em;
    position: relative;
    background-size: cover;
    background-position: center;
}
#plugin_title{
    width: 25%;
    line-height: 2;
}
#gdpr-cookie-message-mini {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    margin-right: 1rem;
    width: 35%;

    background-color: ;
    padding: 0 1rem 1rem 1rem;
    border-radius: 5px;
    box-shadow: 0 6px 6px rgba(0,0,0,0.25);
}
#gdpr-cookie-message-mini h4 {
    display:flex;
    flex-direction: column;

    color: ;
    font-size: .9em;
    font-weight: 500;
    margin-bottom: .6rem;
}
#gdpr-cookie-message-mini h5 {
    display:flex;
    flex-direction: column;

    color: ;
    font-size: .9em;
    font-weight: 500;
    margin-bottom: 1rem;
}
#gdpr-cookie-message-mini p {
    display:flex;
    flex-direction: column;
    font-size: 0.6em;
    color: ;
    text-align: justify;
}

#gdpr-cookie-message-mini ul {
    display:flex;
    flex-direction: column;
    font-size: 0.6em;
    color: ;
}
#gdpr-cookie-message-mini p:last-child {
    display:flex;
    flex-direction: column;
    font-size: 0.6em;
    margin-bottom: 0;
    text-align: right;
}
#gdpr-cookie-message-mini li {
    display:flex;
    flex-direction: column;
    width: 20%;
    display: inline-block;
}
#gdpr-cookie-message-mini a {
    display:flex;
    flex-direction: column;
    color: ;
    text-decoration: none;
    font-size: 0.6em;
    padding-bottom: 2px;
    border-bottom: 1px dotted rgba(255,255,255,0.75);
    transition: all 0.3s ease-in;
}
#gdpr-cookie-message-mini a:hover {
    display:flex;
    flex-direction: column;
    color: ;
    border-bottom-color: ;
    transition: all 0.3s ease-in;
}
#gdpr-cookie-message-mini .button-section {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
#gdpr-cookie-message-mini button {
    display:flex;
    flex-direction: column;
    border: none;
    background: ;
    color: ;

    font-size: .6em;
    padding: 1em;
    margin-left: 1rem;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

#gdpr-cookie-message-mini button:hover {
    background: ;
    color: ;
    transition: all 0.3s ease-in;
}

button#gdpr-cookie-advanced-mini {
    background: ;
    color: ;
}

button#gdpr-cookie-advanced-mini:hover {
    background: ;
    color: ;
}

#gdpr-cookie-message-mini button:disabled {
    opacity: 0.3;
}

#gdpr-cookie-message-mini input[type="checkbox"] {
    float: none;
    margin-top: 0;
    margin-right: 5px;
}