//
// Variables file
//
// Space for any custom variables used by this application
//

// Colors
// --------------------------------------------------
$body-bg:           	#FFFFFF;

$primary-color:     	#037EAD;
$secondary-color:   	#2E70AB;
$third-color:       	#FFFFFF;

$gray-lighter:			#CCCCCC;

$footer-background: 	#222222;
$footer-text:       	$gray-lighter;
$footer-copyright:  	#adacac;
$footer-link:  			$primary-color;
$footer-link-visited:  	#5bbaec;

// Typography
// --------------------------------------------------
$font-family-sans-serif:    "archivo-regular", sans-serif;
$font-family-bold:          "archivo-bold", sans-serif;
$font-family-bold-italic:   "archivo-bold-italic", sans-serif;
$font-family-italic:        "archivo-italic", sans-serif;
$font-family-medium:        "archivo-medium", sans-serif;
$font-family-medium-italic: "archivo-medium-italic", sans-serif;
$font-family-regular:       "archivo-regular", sans-serif;
$font-family-semiBold:      "archivo-semiBold", sans-serif;
$font-family-semiBoldItalic:"archivo-semiBoldItalic", sans-serif;

$line-height-base:          1.6;
$font-size-base: 			0.9rem;
$text-color:                #393f40;
$headings-color:            #2E70AB;
$jumbotron-heading-color:   $headings-color;

// Media queries sizes
// ----------------------------------------------------

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
