//
// Fonts file
//
// Allocated area for font definitions used by this application
//

@font-face {
    font-family: 'archivo-bold';
    src: url('../fonts/Archivo-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'archivo-bold-italic';
    src: url('../fonts/Archivo-Bold.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'archivo-italic';
    src: url('../fonts/Archivo-Italic.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'archivo-medium';
    src: url('../fonts/Archivo-Medium.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'archivo-medium-italic';
    src: url('../fonts/Archivo-MediumItalic.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'archivo-regular';
    src: url('../fonts/Archivo-Regular.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'archivo-semiBold';
    src: url('../fonts/Archivo-SemiBold.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'archivo-semiBoldItalic';
    src: url('../fonts/Archivo-SemiBoldItalic.ttf');
    font-weight: 300;
    font-style: normal;
}

//
// Chrome exhibits strange behavior when custom fonts are used
// on select inputs. This fixes the garbled text.
//
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {
        font-family: sans-serif;
    }
}
