//
// Main site styles
//

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    color: $text-color;
    line-height: $line-height-base;
    background-color: $body-bg;

    scroll-behavior: smooth;
}

main {
    flex-grow: 1;
}

.page-title {
    border-bottom: 2px solid $primary-color;

    h1 {
        font-family: $font-family-bold;
        font-weight: 700;
        color: $primary-color;
    }
}

// Custom container
.custom-container {
    @extend .container;
    @extend .fadeIn;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

// Override Bootstrap pagination
.pagination {
    align-self: center;

    li {
        @extend .page-item;

        a{
            @extend .page-link;
            border-radius: 50% !important;
            margin: 0 5px;
        }

        span{
            border-radius: 50% !important;
            margin: 0 5px;
        }
    }

    .active {
        @extend .page-item;
        cursor: pointer;

        span{
            @extend .page-link;
            background-color: $primary-color;
            border-color: $secondary-color;
            border-radius: 50% !important;
            margin: 0 5px;
        }
    }

    .disabled {
        @extend .page-item;

        a {
            @extend .page-link;
            border-radius: 50% !important;
            margin: 0 5px;
        }

        span{
            @extend .page-link;
            border-radius: 50% !important;
            margin: 0 5px;
        }
    }
}

//
// Fade In animation
//
.fadeIn {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}