{% set post = __SELF__.post %}

<div class="post-item">

    <p class="info">
        Posted
        {% if post.categories.count %} in
        {% for category in post.categories %}
        <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
        {% endif %}
        on {{ post.published_at|date('M d, Y') }}
    </p>

    <div class="cover">
        {% if post.featured_images.count %}

        {% set cover = __SELF__.post.featured_images.first %}
        <img data-src="{{ cover.filename }}" src="{{ cover.path }}" alt="{{ cover.description }}" class="img-responsive"/>

        {% endif %}
    </div>

    <div class="content">
        {{ post.content_html|raw }}
    </div>

    {% if post.featured_images.count %}
    <div class="gallery-wrapper">

        <div class="gallery-title">
            <h4>{{ 'Titulo Galería imágenes'|_ }}</h4>
        </div>

        <div class="gallery">
            {% for image in post.featured_images %}
            <img data-src="{{ image.filename }}" src="{{ image.path }}" alt="{{ image.description }}" />
            {% endfor %}
        </div>

    </div>
    {% endif %}

    <hr>

    <div class="button-wrapper">
        <a href="{{ return_url }}" class="readmore-button" alt="Return back">{{ __SELF__.returnBackMessage }}</a>
    </div>

</div>
