title = "Página no encontrada (404)"
url = "/404"
layout = "default"
is_hidden = 0

[viewBag]
localeTitle[en] = "Page not found (404)"
localeTitle[fr] = "Page non trouvée (404)"
localeUrl[en] = "/en/404"
localeUrl[fr] = "/fr/404"
==
<div class="error-container">

	<h1 class="page-title" >
		{{ this.page.title }}
	</h1>

	<p class="error-message">{{ 'error404.message'|_ }}</p>

	<div class="btn-section">
		<a href="/" alt="{{ 'btn.returnHome'|_ }}" class="readmore-button">{{ 'btn.returnHome'|_ }}</a>
	</div>

</div>