title = "Sobre Nosotros"
url = "/sobre-nosotros"
layout = "default"
is_hidden = 0

[viewBag]
localeTitle[en] = "About Us"
localeUrl[en] = "/about-us"
==
<div class="container about-wrapper">

    <div class="about-content">

        <h1 class="page-title">
            {{ this.page.title }}
        </h1>

        <div class="about-img">
            <img src="{{ 'assets/images/about-us.png'|theme}}" alt="About us image" />
        </div>

        {% content 'about' %}

        <hr>

        <div class="about-icons">

            <ul>

                <li>
                    <a href="https://www.facebook.com/" target="_blank" alt="Enlaçe a la página de Facebook">
                        <i id="social-fb" class="fab fa-facebook-f fa-3x social"></i>
                    </a>
                </li>

                <li>
                    <a href="https://twitter.com/" target="_blank" alt="Enlaçe a la página de Facebook">
                        <i id="social-tw" class="fab fa-twitter fa-3x social"></i>
                    </a>
                </li>

                <li>
                    <a href="https://plus.google.com/" target="_blank" alt="Enlaçe a la página de Facebook">
                        <i id="social-gp" class="fab fa-google-plus-square fa-3x social"></i>
                    </a>
                </li>
                
                <li>
                    <a href="mailto:blogger@gmail.com" alt="Enlaçe a la página de Facebook">
                        <i id="social-em" class="fa fa-envelope-square fa-3x social"></i>
                    </a>
                </li>

            </ul>

        </div>

    </div>

</div>
