title = "Categorías"
url = "/categorias/:page?"
layout = "default"
is_hidden = 0

[Categories]
slug = "{{ :slug }}"
displayEmpty = 0

[viewBag]
localeTitle[fr] = "Catégories"
localeUrl[en] = "/categories"
localeUrl[fr] = "/categories"
==
<div class="categories-container">

    <div class="page-title">
        <h1>{{ this.page.title }}</h1>
    </div>

    {% component 'Categories::list' %}

</div>