title = "Categoría"
url = "/categoria/:slug"
layout = "default"
description = "Página de la Categoría"
is_hidden = 0

[Category]
slug = "{{ :slug }}"
postPage = "post/:slug"
displayEmpty = 0

[viewBag]
localeTitle[en] = "Category"
localeUrl[en] = "/category/:slug"
localeTitle[fr] = "Categorie"
localeUrl[fr] = "/categorie/:slug"
==
<?php
function onEnd()
{
    if (isset($this->category)){
        $this->page->title = $this->category->name;
    }
}
?>
==
<div class="category-container">

    <div class="title">
        <h1>{{ this.page.title }}</h1>
    </div>

    {% component 'Category' %}

</div>
