title = "Contacto"
url = "/contacto"
layout = "default"
is_hidden = 0

[viewBag]
localeTitle[en] = "Contact"
localeTitle[fr] = "Contact"
localeUrl[en] = "/en/contact"
localeUrl[fr] = "/fr/contact"

[contactForm]
==
<div class="contact-container">

  <div class="page-title">
    <h1>{{ this.page.title }}</h1>
  </div>

  <div class="contact-wrapper">

  	<div class="map-wrapper">
      <div id="map"></div>
    </div>
    
    <div class="form-contact-wrapper">
      {% component 'contactForm' %}
    </div>

  </div>

</div>