title = "Error página (500)"
url = "/en/error"
layout = "default"
is_hidden = 0

[viewBag]
localeTitle[fr] = "Erreur 500"
localeUrl[fr] = "/fr/error"
localeTitle[en] = "Error 500"
localeUrl[en] = "/en/error"
==
<div class="container fadeIn">

	<h1>{{ this.page.title }}</h1>

	<p>{{ 'error505.message'|_ }}</p>

	<a href="/" alt="{{ 'btn.returnHome'|_ }}">{{ 'btn.returnHome'|_ }}</a>

</div>
