title = "Inicio"
url = "/"
layout = "default"
is_hidden = 0

[Posts]
pageNumber = "{{ :page }}"
postsPerPage = 5

[Categories]
slug = "{{ :slug }}"
displayEmpty = 0

[viewBag]
localeTitle[en] = "Home"
localeTitle[fr] = "Accueil"
localeUrl[en] = "/home"
localeUrl[fr] = "/accueil"
==
<div class="container home-container">

    <div class="fadeIn">
        <h2 class="home-title">
	        {{ 'latestPosts'|_ }}
	    </h2>

        {% component 'Posts::latestPosts' %}

    </div>

    <div class="fadeIn">

        <h2 class="home-title">
	        {{ 'categories'|_ }}
	    </h2>

        {% component 'Categories::grid' %}
        
    </div>

</div>
