title = "Política de privacidad"
url = "/politica-de-privacidad"
layout = "default"
is_hidden = 0

[viewBag]
localeTitle[en] = "Privacy Policy"
localeUrl[en] = "/privacy-policy"
localeTitle[fr] = "Politique de confidentialité"
localeUrl[fr] = "/politique-de-confidentialite"
==
<div class="politicas-container">

	<h1 class="page-title">
		{{ this.page.title }}
	</h1>

	<div class="content">
		{% content 'politica_privacidad' %}
	</div>

</div>
