title = "Política de cookies"
url = "/politica-de-cookies"
layout = "default"
is_hidden = 0

[viewBag]
localeTitle[en] = "Cookies policy"
localeUrl[en] = "/cookies-policy"
localeTitle[fr] = "Politique de cookies"
localeUrl[fr] = "/politique-de-cookies"
==
<div class="politicas-container">

	<h1 class="page-title">
		{{ this.page.title }}
	</h1>

	<div class="content">
		{% content 'politica_cookies' %}
	</div>

</div>
