title = "Entrada"
url = "/entrada/:slug"
layout = "default"
description = "Post page"
is_hidden = 0

[viewBag]
localeTitle[en] = "Post"
localeTitle[fr] = "Poste"
localeUrl[en] = "/post/:slug"
localeUrl[fr] = "/poste/:slug"

[Post]
slug = "{{ :slug }}"
categoryPage = "categoria"
==
<?php
function onEnd()
{
    if (isset($this->post)){
        $this->page->title = $this->post->title;
    }
}
?>
==
<div class="post-wrapper">

    {% if post %}

    <h2 class="post-title">{{ post.title }}</h2>

    <div class="post-content">
        {% component 'Post' %}
    </div>

    {% else %}

        <h2>{{ 'post.notFound'|_ }}</h2>

    {% endif %}

</div>
