title = "Entradas"
url = "/entradas"
layout = "default"
is_hidden = 0

[Posts]
pageNumber = "{{ :page }}"
postsPerPage = 5

[searchForm]

[viewBag]
localeTitle[en] = "Posts"
localeTitle[fr] = "Postes"
localeUrl[en] = "/posts"
localeUrl[fr] = "/postes"
==
<div class="posts-wrapper">

    <div class="page-title">
        <h1>{{ this.page.title }}</h1>
    </div>

    <div class="search-wrapper">
        {% component 'searchForm' %}
    </div>

    <hr>

    {% component 'Posts' %}

</div>
