title = "Resultados de la busqueda"
url = "/entradas/buscar/:search?/:page?"
layout = "default"
is_hidden = 0

[searchResult]
searchTerm = "{{ :search }}"
pageNumber = "{{ :page }}"
hightlight = 1
postsPerPage = 5
sortOrder = "published_at desc"

[searchForm]

[viewBag]
localeTitle[en] = "Search results"
localeUrl[en] = "/posts/search/:search?/:page?"
localeTitle[fr] = "Résultats de recherche"
localeUrl[fr] = "/postes/recherce/:search?/:page?"
==
<div class="posts-results-container">

    <div class="page-title">
        <h1>{{ this.page.title }}</h1>
    </div>

    <div class="search-form-wrapper">
        {% component 'searchForm' %}
    </div>

    <div class="search-results-wrapper">
    	{% component 'searchResult' %}
    </div>

</div>
