title = "En construcción"
url = "/en-construccion"
layout = "default"
is_hidden = 0

[viewBag]
localeTitle[en] = "Under Construction"
localeUrl[en] = "/under-construction"
localeTitle[fr] = "En construction"
localeUrl[fr] = "/en-construction"
==
<div class="under-construction-container">

    <h1 class="page-title">
    	{{ this.page.title }}
    </h1>
    
    <div class="content">
    	<p>{{ message.underConstruction|_ }}</p>
    </div>
    
</div>
