<?php if (!$this->fatalError): ?>

<?= Form::open(['class' => 'layout']) ?>

<div class="layout-row">
    <h2 id="plugin_title"><?= e(trans('cookiesrw.cookies::lang.consent.menu_label')) ?></h2>
    
    <div class="col-sm-5">
        <?= $this->formRender() ?>
        <button
        type="submit"
        data-request="onSave"
        data-request-data="redirect:0"
        data-hotkey="ctrl+s, cmd+s"
        data-load-indicator="<?= e(trans('cookiesrw.cookies::lang.plugin.saving_consent')) ?>"
        class="btn btn-primary">
        <u><?= e(trans('cookiesrw.cookies::lang.plugin.s')) ?></u><?= e(trans('cookiesrw.cookies::lang.plugin.ave')) ?></button>       
    </div>

    <div class="col-sm-5">
        <h3>Preview</h3>
        <style>#preview {background-image: url(<?php echo $preview; ?>)}</style>
        <div id="preview">
            <div id="gdpr-cookie-message-mini" class="fadeIn" style="display: block;">
                <h4 id="title-mini"></h4>
                <p>
                    <span id="message-mini"></span><a href="#" id="link-mini"></a>
                </p>
                <div id="gdpr-cookie-types-mini" style="display:none;"></div>
                <div class="button-section">
                    <button id="gdpr-cookie-accept-mini" type="button"></button>
                    <button id="gdpr-cookie-advanced-mini" type="button" title=""></button>
                </div>
            </div>
        </div>
    </div>

</div>

<?= Form::close() ?>

<?php else: ?>

<p class="flash-message static error"><?= e($this->fatalError) ?></p>
<p><a href="<?= Backend::url('cookiesrw/cookies/consents/update/1') ?>" class="btn btn-default"><?= e(trans('cookiesrw.cookies::lang.plugin.return_back')) ?></a></p>

<?php endif ?>

<script>
    $(document).ready(function() {

        $('.field-colorpicker .custom-color span').attrchange({ 
            trackValues: true, 
            callback: function (e) {
                var id = $(this).closest('.field-colorpicker').attr('id').split('-');
                id = id[id.length - 1];
                color = e.newValue.split(':');
                color = color[1].replace(';', '');
                renderDiv(id, color.substr(0, color.indexOf(')')+1));
            }   
        });

        $('.field-colorpicker .custom-color span').each(function(index,element){
            var id = $(element).closest('.field-colorpicker').attr('id');
            var color = $("#"+id+" .custom-color span").css('background');
            id = $(element).closest('.field-colorpicker').attr('id').split('-');
            id = id[id.length - 1];
            renderDiv(id, color.substr(0, color.indexOf(')')+1));
        });

        $('input').not('input[type="button"]').change(function(index, element) {
            renderDiv(element.get('id'), element.val());
        });

    });


    function renderDiv(id="", data="") {

        $("#link-mini").attr('title','Link to: ' + $("#Form-field-Consent-link-placeholderField").val());
        $("#link-mini").html($("#Form-field-Consent-link_text-placeholderField").val());

        if(id=='background_color') {
            $("#gdpr-cookie-message-mini").css({'background':data});
        }

        $("#title-mini").html($("#Form-field-Consent-title-placeholderField").val());
        if(id=='title_color'){
            $("#gdpr-cookie-message-mini #title-mini").css({'color': data});
        }

        if(id=='link_color') {
            $("#gdpr-cookie-message-mini p #link-mini").css({'color':data});
        }

        if(id=='link_hover_color') {
            $("#gdpr-cookie-message-mini p #link-mini:hover").css({'color':data});
        }

        $("#message-mini").html($("#Form-field-Consent-message-placeholderField").val());
        if(id=='message_color'){
            $("#gdpr-cookie-message-mini p #message-mini").css({'color': data});
        }

        $("#gdpr-cookie-accept-mini").html($("#Form-field-Consent-accept_btn_text-placeholderField").val());
        if(id=='accept_btn_text_color') {
            $("#gdpr-cookie-accept-mini").css({'color':data});
        }
        if(id=='accept_btn_background_color'){
            $("#gdpr-cookie-accept-mini").css({'background':data});
        }
        if(id=='accept_btn_text_color_hover') {
            $("#gdpr-cookie-accept-mini:hover").css({'color':data});
        }
        if(id=='accept_btn_background_color_hover'){
            $("#gdpr-cookie-accept-mini:hover").css({'background':data});
        }

        $("#gdpr-cookie-advanced-mini").html($("#Form-field-Consent-advanced_btn_text-placeholderField").val());
        if(id=='advanced_btn_text_color') {
            $("#gdpr-cookie-advanced-mini").css({'color':data});
        }
        if(id=='advanced_btn_background_color'){
            $("#gdpr-cookie-advanced-mini").css({'background':data});
        }
        if(id=='advanced_btn_text_color_hover') {
            $("#gdpr-cookie-advanced-mini:hover").css({'color':data});
        }
        if(id=='advanced_btn_background_color_hover'){
            $("#gdpr-cookie-advanced-mini:hover").css({'background':data});
        }
    }
</script>