{% set categories = __SELF__.categories %}
<form class="search-form" method="GET" action="{{ __SELF__.resultPage }}">

	<div class="form-row">
		<div class="form-group col-md-6">
			<label for="search">{{ 'Search by Term:'|_ }}</label>
			<input type="text" name="search" class="form-control" placeholder="Texto para buscar..."/>
		</div>

		<div class="form-group col-md-6">
			<label for="category">{{ 'Search by Category:'|_ }}</label>
			<select type="text" name="category" class="form-control">
				<option value="0">Seleccione una Categoria</option>
				{% if categories|length > 0 %}

					{% for category in categories %}

						<option value="{{ category.id }}">{{ category.name }}</option>

					{% endfor %}

				{% endif %}
			</select>
		</div>
	</div>

	<div class="form-group btn-section">
		<button class="search-button" type="submit"><i class="fas fa-search"></i> {{ 'Search'|_ }}</button>
	</div>

</form>
