//
// 404 Error page
//

.error-container{
	@extend .custom-container;

	.page-title {
		@extend .page-title;
	}

	.error-message {
		font-family: $font-family-bold;
		font-size: 2rem;
		text-align: center;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	.btn-section {
		display: flex;
		justify-content: center;
	}

}