//
// About Us page styles
//

.about-wrapper {
    @extend .custom-container;

    .about-content {

        h1 {
            font-family: $font-family-bold;
        }

        span {
            color: $primary-color;
        }

        h3 {
            margin-bottom: 4rem;
        }

        .about-img {
            display: flex;
            justify-content: center;

            img {
                @extend .img-fluid;
            }
        }

        .content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 2rem;
            margin-bottom: 2rem;

            h2{
                font-family: $font-family-bold;
                color: $primary-color;
                margin-bottom: 1rem;
            }

            p{
                margin-bottom: 2rem;

                b {
                    color: $primary-color;
                }
            }
        }

        .about-icons {

            ul {

                margin-top: 2rem;
                margin-bottom: 4rem;

                li {
                    margin:0px;
                    padding:0;
                    display:inline-block;

                    a {

                        i {
                            margin-right: 1rem;
                            padding: 0px;
                            font-size:35px;
                            color:#323232;
                        }

                        #social-fb:hover {
                            color: #3B5998;
                            transition:all .001s;
                        }

                        #social-tw:hover {
                            color: #4099FF;
                            transition:all .001s;
                        }

                        #social-gp:hover {
                            color: #d34836;
                            transition:all .001s;
                        }

                        #social-em:hover {
                            color: #f39c12;
                            transition:all .001s;
                        }
                    }
                }
            }
        }
    }
}

