//
// Category item page
//

.category-container {
	@extend .custom-container;

	.title {
		@extend .page-title;
	}

	.category-wrapper {

		.category-item {
			display: flex;
			flex-direction: column;
			justify-content: center;

			.total-posts-badge {
				margin-top: .5rem;

				p {

				}
			}

			.category-title {
				h1 {
					font-family: $font-family-bold;
					color: $primary-color;
				}
			}

			.category-content {
				display: flex;
				flex-direction: column;
				justify-content: center;

				@media (min-width: $sm){
					flex-direction: row;
					justify-content: space-between;
				}

				.cover {
					display: flex;
					flex-direction: column;

					img {
						@extend .img-fluid;
					}
				}

				.category-info {
					display: flex;
					flex-direction: column;
					margin-top: 2rem;
					background-color: #F8F8F8;
					padding: 1rem;

					@media (min-width: $sm){
						margin-top: 0;
						width: 50%;
						margin-left: 2rem;
					}

					p {
						font-family: $font-family-regular;
					}

				}
			}
		}

		.button-section {
			text-align: center;
			margin-top: 2rem;
			margin-bottom: 2rem;

		}

	}
}




