//
// Contact page styles
//

.contact-container {
	@extend .custom-container;

	.contact-wrapper {
		display: flex;
		justify-content: space-between;
		flex-direction: column;

		@media (min-width: $md){
			flex-direction: row;
			padding-top: 2rem;
		}

		.map-wrapper {
			display: grid;
			width: 100%;
			height: 250px;
			margin-top: 2rem;

			#map {
				border: 2px solid $primary-color;
			}

			@media (min-width: $md){
				width: 40%;
				height: 500px;
				margin-top: 0;
			}
		}

		.form-contact-wrapper {
			display: flex;
			justify-content: center;
			flex-direction: column;
			margin-top: 2rem;
			
			@media (min-width: $md){
				width: 60%;
				padding-left: 2rem;
				margin-top: 0;
			}

			form {

				.form-group {
					label {
						font-family: $font-family-bold;
					}

					textarea {
						resize: none;
					}
				}
			}
		}
	}
}