//
// Home Page
//

.home-container {
    @extend .custom-container;
    
    margin-top: 2.5%;
    margin-bottom: 2.5%;

    .home-title {
        color: $primary-color;
        font-family: $font-family-bold;
        border-bottom: 2px solid $primary-color;
        padding-bottom: 1rem;
        text-align: center;

        @media (min-width: $sm) {
            text-align: left;
        }

    }
}
