.politicas-container {
	@extend .custom-container;

	.page-title {
		font-family: $font-family-bold;
		color: $primary-color;
	}

	.content {
		margin-top: 2rem;

		h2 {
			font-family: $font-family-bold;
			color: $primary-color;
			margin-top: 2rem;
		}

		p {

			text-align: justify;

			b{
				color: $primary-color;
			}
		}
	}
}