//
// Post item page
//

.post-wrapper {
    @extend .custom-container;

    .post-title {
        @extend .page-title;
    }

    .post-content {
        @extend .container;

        // Here goes post component
    }
}



