//
// Search results page styles
//

.posts-results-container{
	@extend .custom-container;

	.search-form-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	// Component searchresult default.htm
	.search-results-wrapper{
		display: flex;
		flex-direction: column;
		justify-content: center;
		
		.title {
			font-family: $font-family-bold;
			color: $primary-color;
		}


		// Here goes Post list component
	}

}