//
// Under construction page
//

.under-construction-container {
	@extend .custom-container;

	.title {
		@extend .page-title;
	}

	.content {
		p {
			font-family: $font-family-bold;

			b {
				color: $primary-color;
			}
		}
	}
}