// Footer Styles

#layout-footer {
	display: flex;
	flex-direction: column;
	background-color: $footer-background;
	color: $footer-text;
	padding: 3rem 0 0 0;

	.footer-container {
		display: flex;
		flex-direction: column;

		.footer-row {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;

			@media (min-width: $sm) {
				flex-direction: row;
				justify-content: space-around;
				align-items: flex-start;
				text-align: left;
			}

			.footer-block {
				display: flex;
				flex-direction: column;
				margin-bottom: 2rem;

				@media (min-width: $sm) {
					margin-bottom: 0;
				}

				.footer-block-title {
					font-family: $font-family-bold;
					text-transform: uppercase;
					color: $primary-color;
					margin-bottom: 2.5rem;
					font-size: 1.2em;

					a {
						text-decoration: none;

						&:hover{
							color: $footer-link-visited;
						}
					}
				}

				p {
					.footer-link {
						color: $footer-link;
						text-decoration: none;
						font-size: 1rem;

						&:focus {
							color: $secondary-color;
							text-decoration: none;
							outline: none;
						}

						&:active {
							color: $footer-link;
							text-decoration: none;
						}

						&:visited {
							color: $footer-link;
							text-decoration: none;
						}

						&:hover {
							color: $footer-link-visited;
							text-decoration: none;
						}
					}
				}
			}
		}

		.footer-copyright {
			display: flex;
			flex-direction: column;
			color: $footer-copyright;
			padding: 40px 0;
		}

	}	
}


