//
// Bootstrap 3.2 Navbar override styles
//

.navbar {
	background-color: $primary-color;
	color: $third-color;
}

.navbar-nav {

	.nav-item {
		height: 100%;

		&:hover {
			background-color: $secondary-color;
			

			&:after {
				content: '';
				border-bottom: 2px solid $third-color;
			}

			.nav-link {
				color: $third-color;
			}
		}

		.nav-link {
			color: $third-color;
			text-decoration: none;
			font-family: $font-family-regular;
			font-size: 1rem;
		}
	}

}

.navbar-right {

	span {
		display: inline-block;

		i {
			color: $third-color;
		}
	}

	form {
		display: inline-block;

		@media (min-width: sm) {
			margin-top: 8%;  
		}

		.label {
			display: inline-block;
		}

		.form-control {
			font-family: $font-family-bold;
			color: $third-color;
			background-color: $primary-color;
			border: none;

			&:hover {
				cursor: pointer;
			}

			option {
				margin-top: 1rem;
				margin-bottom: 1rem;
			}
		}
	}
}
