<div class="content">

	<h2>Qui sommes nous?</h2>
	<p>Journalistes et étudiants en journalisme.</p>

	<h2>Qu'est ce que c'est?</h2>
	<p>Le premier journal sportif qui ne parle pas de Madrid ou de Barcelone. Nous n'en parlons vraiment pas. Et si nous le faisons, c'est parce qu'il y a quelque chose à signaler et que nous n'avons pas d'autre choix que de les mentionner.</p>

	<h2>Pourquoi faisons-nous cela?</h2>
	<p>En tant que fans, parce que nous sommes fatigués depuis longtemps que le changement de coiffure d'un joueur desdites équipes couvre les couvertures et les gros titres, tandis que les succès et les misères de la nôtre, même s'ils sont incontestablement plus dignes d'intérêt, sont relégués au procès-verbal Journal indésirable et un bref au bas de la page 27.</p>

	<p>En tant que journalistes, parce qu'à l'avenir, nous aimerions travailler dans une industrie qui ne néglige pas systématiquement les adeptes des 18 autres équipes Primera. Une industrie qui nous relègue au rôle de simples troupes.</p>

	<h2>Où voulons-nous aller?</h2>
	<p>Au minimum, nous voulons offrir un journalisme alternatif à ceux qui ont cessé de consommer des informations sportives par satiété envers le duopole. Nous savons qu'il y a partout des gens qui recourent à des excuses invraisemblables pour justifier un Barcelone / Madridisme injustifiable. Peu importe s'ils n'ont aucun lien avec ces deux équipes ou s'ils n'ont même pas visité ces deux villes une fois. Ce sont ceux qui croient que soutenir une équipe puissante transfère une partie de ce pouvoir et leur donne un halo de glamour ou de grandeur, alors qu'en réalité ce qu'ils font est de transmettre le triste sentiment qu'ils misent sur le cheval gagnant. Mais cela ne nous intéresse pas. Nous n'écrivons pas pour eux.</p>

	<p>Au mieux, nous voulons faire prendre conscience du danger de outrager les fans de 18 équipes. Si nous parvenons à démocratiser un peu les informations sportives, cela en aura valu la peine.</p>

	<p>Nous pensons que les choses peuvent changer.</p>

	<p>Courriel de contact: <a href="mailto:blog@refineriaweb.com" alt="Courriel de contact:">blog@refineriaweb.com</a></p>

</div>