<div class="content">

	<h2>¿Quiénes somos?</h2>
	<p>Periodistas y estudiantes de Periodismo.</p>

	<h2>¿Qué es esto?</h2>
	<p>El primer diario deportivo que no habla ni del Madrid ni del Barcelona. De verdad no hablamos de ellos. Y si lo hacemos es porque hay algo que denunciar y no nos queda más remedio que mencionarlos.</p>

	<h2>¿Por qué hacemos esto?</h2>
	<p>Como aficionados, porque llevamos mucho tiempo cansados de que el cambio en el peinado de un jugador de dichos equipos cope las portadas y los titulares, mientras los éxitos y las miserias de los nuestros, aun cuando son indiscutiblemente más noticiosos, son relegados a los minutos basura del telediario y a un breve en el pie de la página 27.</p>

	<p>Como periodistas, porque en el futuro querríamos trabajar en una industria que no ningunee sistemáticamente a los seguidores de los otros 18 equipos de Primera. Una industria que nos relega al rol de meros comparsas.</p>

	<h2>¿Dónde queremos llegar?</h2>
	<p>Como mínimo, queremos ofrecer un periodismo alternativo para aquellos que han dejado de consumir información deportiva por hartazgo hacia el duopolio. Sabemos que en todas partes hay gente que recurre a excusas inverosímiles para justificar un barcelonismo/madridismo injustificable. Da igual que no tengan ninguna conexión con estos dos equipos o que ni siquiera hayan visitado estas dos ciudades una sola vez. Son aquellos que creen que apoyar a un equipo poderoso les transfiere algo de ese poder y les aporta un halo de glamour o grandeza, cuando en realidad lo que hacen es transmitir la triste sensación de que están apostando a caballo ganador. Pero estos no nos interesan. No escribimos para ellos.</p>

	<p>En el mejor de los casos, queremos crear conciencia sobre el peligro que conlleva indignar a aficionados de 18 equipos. Si conseguimos que la información deportiva se democratice aunque sea un ápice, habrá merecido la pena.</p>

	<p>Creemos que las cosas se pueden cambiar.</p>

	<p>Correo electrónico de contacto: <a href="mailto:blog@refineriaweb.com" alt="Correo electrónico de contacto">blog@refineriaweb.com</a></p>

</div>