<div class="content">

	<h2>About us?</h2>
	<p>Journalism journalists and students.</p>

	<h2>What is this?</h2>
	<p>The first sports newspaper that does not talk about Madrid or Barcelona. We really don't talk about them. And if we do it, it is because there is something to report and we have no choice but to mention them.</p>

	<h2>Why are we doing this?</h2>
	<p>As fans, because we have been tired for a long time that the change in the hairstyle of a player of said teams covers the covers and the headlines, while the successes and miseries of ours, even when they are undeniably more newsworthy, are relegated to the minutes trash from the newscast and a brief at the bottom of page 27.</p>

	<p>As journalists, because in the future we would like to work in an industry that does not systematically disregard the followers of the other 18 Primera teams. An industry that relegates us to the role of mere troupes.</p>

	<h2>Where do we want to go?</h2>
	<p>At a minimum, we want to offer alternative journalism for those who have stopped consuming sports information out of satiety towards the duopoly. We know that there are people everywhere who resort to implausible excuses to justify unjustifiable Barcelona / Madridism. It doesn't matter if they don't have any connection with these two teams or if they haven't even visited these two cities once. They are those who believe that supporting a powerful team transfers some of that power and gives them a halo of glamor or greatness, when in reality what they do is convey the sad feeling that they are betting on the winning horse. But these do not interest us. We do not write for them.</p>

	<p>At best, we want to raise awareness of the danger of outraging fans of 18 teams. If we manage to democratize sports information even a bit, it will have been worth it.</p>

	<p>We believe that things can be changed.</p>

	<p>Contact e-mail: <a href="mailto:blog@refineriaweb.com" alt="Contact e-mail">blog@refineriaweb.com</a></p>

</div>