<p>Cette politique de confidentialité établit les conditions dans lesquelles elle utilise et protège les informations fournies par ses utilisateurs lors de l'utilisation de son site Web. Cette entreprise s'engage pour la sécurité des données de ses utilisateurs. Lorsque nous vous demandons de remplir les champs d'informations personnelles avec lesquels vous pouvez être identifié, nous le faisons en veillant à ce qu'ils ne soient utilisés que conformément aux termes de ce document. Cependant, cette politique de confidentialité peut changer au fil du temps ou être mise à jour pour ce que nous recommandons et nous insistons sur la révision continue de cette page pour vous assurer que vous êtes d'accord avec de tels changements.</p>

<h2>Informations collectées</h2>

<p>Notre site Web peut collecter des informations personnelles telles que: nom, informations de contact telles que votre adresse e-mail et des informations démographiques. De même, si nécessaire, des informations spécifiques peuvent être nécessaires pour traiter une commande ou effectuer une livraison ou une facturation.</p>

<h2>Utilisation des informations collectées</h2>

<p>Notre site Web utilise les informations afin de fournir le meilleur service possible, en particulier pour suivre les utilisateurs, les commandes le cas échéant, et améliorer nos produits et services. Il est possible que des e-mails soient envoyés périodiquement via notre site avec des offres spéciales, de nouveaux produits et d'autres informations publicitaires que nous considérons pertinentes pour vous ou qui peuvent vous offrir des avantages, ces e-mails seront envoyés à l'adresse que vous fournissez et peuvent être annulés à n'importe quel moment.</p>

<p>Vous vous engagez fortement à respecter l'engagement de sécurisation de vos informations. Nous utilisons les systèmes les plus avancés et les mettons constamment à jour pour nous assurer qu'il n'y a pas d'accès non autorisé.</p>

<h2>Cookies</h2>

<p>Un cookie fait référence à un fichier qui est envoyé afin de demander l'autorisation d'être stocké sur votre ordinateur. En acceptant ce fichier, le cookie est créé et sert ensuite à obtenir des informations sur le trafic Web, et facilite également les visites futures sur un site Web. récurrente. Une autre fonction des cookies est qu'avec eux, les sites Web peuvent vous reconnaître individuellement et donc vous fournir le meilleur service personnalisé sur leur site Web.</p>

<p>Notre site Web utilise des cookies pour identifier les pages visitées et leur fréquence. Ces informations sont utilisées uniquement pour l'analyse statistique, puis les informations sont définitivement supprimées. Vous pouvez supprimer les cookies à tout moment de votre ordinateur. Cependant, les cookies aident à fournir un meilleur service aux sites Web, vous ne donnez pas accès aux informations de votre ordinateur ou de vous, sauf si vous le souhaitez et les fournissez directement, des visites sur un site Web. Vous pouvez accepter ou refuser l'utilisation de cookies, mais la plupart des navigateurs acceptent automatiquement les cookies car cela permet d'avoir un meilleur service Web. Vous pouvez également modifier les paramètres de votre ordinateur pour refuser les cookies. En cas de refus, vous ne pourrez peut-être pas utiliser certains de nos services.</p>

<h2>Liens vers des tiers</h2>

<p>Ce site Web peut contenir des liens vers d'autres sites susceptibles de vous intéresser. Une fois que vous avez cliqué sur ces liens et quitté notre page, nous n'avons plus de contrôle sur le site vers lequel vous êtes redirigé et, par conséquent, nous ne sommes pas responsables des conditions ou de la confidentialité ou de la protection de vos données sur ces autres sites tiers. Ces sites sont soumis à leurs propres politiques de confidentialité, il est donc recommandé de les consulter pour confirmer que vous êtes d'accord avec eux.</p>

<h2>Contrôle de vos informations personnelles</h2>

<p>À tout moment, vous pouvez restreindre la collecte ou l'utilisation des informations personnelles fournies sur notre site Web. Chaque fois que l'on vous demande de remplir un formulaire, tel qu'une inscription d'utilisateur, vous pouvez cocher ou décocher l'option de recevoir des informations par e-mail. Si vous avez coché l'option de recevoir notre newsletter ou notre publicité, vous pouvez l'annuler à tout moment.</p>

<p>Cette société ne vendra, n'assignera ou ne distribuera pas les informations personnelles collectées sans votre consentement, sauf si un juge en fait une décision judiciaire.</p>

<p>Il se réserve le droit de modifier les termes de cette politique de confidentialité à tout moment.</p>