<p>This Privacy Policy establishes the terms in which it uses and protects the information that is provided by its users when using its website. This company is committed to the security of its users' data. When we ask you to fill in the personal information fields with which you can be identified, we do so ensuring that it will only be used in accordance with the terms of this document. However, this Privacy Policy may change over time or be updated so we recommend and we emphasize continually reviewing this page to ensure that you agree with such changes.</p>

<h2>Information that is collected</h2>

<p>Our website may collect personal information such as: Name, contact information such as your email address and demographic information. Likewise, when necessary, specific information may be required to process an order or make a delivery or billing.</p>

<h2>Use of collected information</h2>

<p>Our website uses the information in order to provide the best possible service, particularly to keep track of users, of orders if applicable, and to improve our products and services. It is possible that emails may be sent periodically through our site with special offers, new products and other advertising information that we consider relevant to you or that may provide you with benefits, these emails will be sent to the address that you provide and may be canceled anytime. Is highly committed to fulfilling the commitment to keep your information secure. We use the most advanced systems and constantly update them to ensure that there is no unauthorized access.</p>

<h2>Cookies</h2>

<p>A cookie refers to a file that is sent in order to request permission to be stored on your computer. By accepting this file, the cookie is created and then serves to have information regarding web traffic, and also facilitates future visits to a website. recurrent. Another function that cookies have is that with them the websites can recognize you individually and therefore provide you with the best personalized service on their website.</p>

<p>Our website uses cookies to identify the pages that are visited and their frequency. This information is used only for statistical analysis and then the information is permanently removed. You can delete cookies at any time from your computer. However, cookies help to provide a better service on the websites, you do not give access to information from your computer or from you, unless you want it and provide it directly, visits to a website. You can accept or deny the use of cookies, however most browsers accept cookies automatically as it serves to have a better web service. You can also change your computer settings to decline cookies. If declined you may not be able to use some of our services.</p>

<h2>Links to Third Parties</h2>

<p>This website may contain links to other sites that may be of interest to you. Once you click on these links and leave our page, we no longer have control over the site to which you are redirected and therefore we are not responsible for the terms or privacy or the protection of your data on those other third party sites. These sites are subject to their own privacy policies, so it is recommended that you consult them to confirm that you agree with them.</p>

<h2>Control of your personal information</h2>

<p>At any time you can restrict the collection or use of personal information that is provided to our website. Every time you are asked to fill out a form, such as a user registration, you can check or uncheck the option to receive information by email. In case you have checked the option to receive our newsletter or advertisement you can cancel it at any time.</p>

<p>This company will not sell, assign or distribute the personal information that is collected without your consent, unless required by a judge with a court order.</p>

<p>It reserves the right to change the terms of this Privacy Policy at any time.</p>