{% for post in category.posts %}

<div class="post-item">

    {% set cover = post.featured_images.first %}
    <img data-src="{{ cover.filename }}" src="{{ cover.path }}" alt="{{ cover.description }}" class="img-responsive"/>

    <div class="post-content">
        <h6 class="post-title">{{ post.title }}</h6>
        <a href="{{ post.url }}" class="post-item-button">{{ __SELF__.readMore }}</a>
    </div>

</div>


{% endfor %}
