<div id="carousel-{{ loop.index }}" class="carousel carousel-showmanymoveone slide" data-interval="false">
    <div class="carousel-inner">

        {% for post in category.posts %}

        <div class="item {{ loop.index == 1 ? 'active' : '' }}">
            <div class="carousel-col">

                {% set cover = post.featured_images.first %}
                <img data-src="{{ cover.filename }}" src="{{ cover.path }}" alt="{{ cover.description }}" class="img-responsive" />

                <div class="carousel-caption">
                    <h6>{{ post.title }}</h6>
                    <p>{{ str_limit(post.summary, 25) }}</p>
                    <a href="{{ post.url }}">{{ __SELF__.readMore }}</a>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>

    <!-- Controls -->
    <div class="left carousel-control">
        <a href="#carousel-{{ loop.index }}" role="button" data-slide="prev">
            <i class="fas fa-arrow-left"></i>
            <span class="sr-only">Previous</span>
        </a>
    </div>
    <div class="right carousel-control">
        <a href="#carousel-{{ loop.index }}" role="button" data-slide="next">
            <i class="fas fa-arrow-right"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>


</div>