<div class="category-list-wrapper">

    {% if __SELF__.categories|length > 0 %}
        <ul class="category-list">
            {% partial __SELF__ ~ "::items"
                categories = __SELF__.categories
                currentCategorySlug = __SELF__.currentCategorySlug
            %}
        </ul>

    {% else %}

        {% partial __SELF__ ~ "::not-found" noCategoriesMessage = __SELF__.noCategoriesMessage %}

    {% endif %}

</div>
