{% set categories = __SELF__.categories %}

{% if __SELF__.categories|length > 0 %}

<div class="category-grid">

    {% for category in categories %}

    {% set postCount = category.post_count %}

    {% if category.featured_images.count %}

        {% set cover = category.featured_images.first %}
        <div class="category-item" style="background: url({{ cover.path }})">

    {% else %}

        <div class="category-item">

            {% endif %}

            <div class="item-content">

                <div class="item-title">
                    <h4>{{ category.name }}</h4>
                </div>

                <div class="item-description">
                    <p>{{ category.description }}</p>
                    {% if postCount %}
                        <span class="badge">{{ postCount }}</span>
                    {% endif %}
                </div>

                <div class="more-info">
                    <a href="{{ category.url }}" class="readmore-button" alt="">{{ __SELF__.readMore }}</a>
                </div>
            </div>

        </div>

        {% endfor %}

        {% else %}

        <div class="category-grid not-found">

            {% partial __SELF__ ~ "::not-found" noCategoriesMessage = __SELF__.noCategoriesMessage %}

        {% endif %}

        {% if categories.lastPage > 1 %}

            {{ categories.links|raw}}

        {% endif %}

    </div>
