{% set categories = __SELF__.categories %}

<div class="category-list-wrapper">

    <input type="hidden" id="total-categories" value="{{ categories|length }}">

    {% if __SELF__.categories|length > 0 %}

    {% for category in categories %}

    <section class="category-item">

        <div class="category-title">
            <a href="{{ category.url }}">
                <h3 class="title">{{ category.name }}</h3>
            </a>
        </div>

        <div class="category-description">
            <p>{{ category.description }}</p>
        </div>

        <div class="category-posts">

            <h5>Ultimas Entradas</h5>

            {% if category.posts.count > 6 %}

            {% partial __SELF__ ~ "::carousel" category = category %}

            {% else %}

            <div class="posts-wrapper">

                {% partial __SELF__ ~ "::blocks" category = category %}

            </div>

            {% endif %}

        </div>

    </section>

    {% endfor %}

    {% else %}

        {% partial __SELF__ ~ "::not-found" noCategoriesMessage = __SELF__.noCategoriesMessage %}

    {% endif %}

    <!-- Paginate links -->
    {% if categories.lastPage > 1 %}

        {{ categories.links|raw }}

    {% endif %}

</div>
