<section class="items-not-found">

	<div class="img-wrapper">
		<img class="icon-not-found" src="{{ 'plugins/blogrw/blog/assets/images/category.svg' }}" alt="Sad face not found icon" />
	</div>

	<div class="info">
		<h3>{{ noCategoriesMessage }}</h3>
	</div>

</section>