{% if posts.lastPage > 1 %}
<nav aria-label="Page navigation">
    <ul class="pagination pagination-circle">
        {% if posts.currentPage > 1 %}
        <li>
            <a class="page-link" aria-label="Previous" href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">{{ '&larr; Prev'|_ }}</span>
            </a>
        </li>
        {% endif %}

        {% for page in 1..posts.lastPage %}
        <li class="page-item {{ posts.currentPage == page ? 'active' : null }}">
            <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
        </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
        <li>
            <a class="page-link" aria-label="Next" href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">{{ 'Next &rarr;'|_ }}</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}