<div class="category-wrapper">
    
    <div class="category-item">

        {% set postCount = category.post_count %}

        <p>Total posts: {{ postCount }}</p>

        <div class="cover">
        {% if category.featured_images.count %}

        {% set cover = category.featured_images.first %}
        <img data-src="{{ cover.filename }}" src="{{ cover.path }}" alt="{{ cover.description }}"/>

        {% endif %}
        </div>

        <div class="category-content">
            <p>{{ category.name }}</p>
        </div>

        <div class="last-posts">
            
        </div>
    </div>

    <div class="button-section">
        <a href="{{ return_url }}" class="readmore-button" alt="Return back">Return back</a>
    </div>

</div>