<div data-control="toolbar">
    <a href="<?= Backend::url('blogrw/blog/categories/create') ?>" class="btn btn-primary oc-icon-plus">
        <?= e(trans('blogrw.blog::lang.categories.new_category')) ?>
    </a>
    <button
        class="btn btn-default oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onDelete"
        data-request-confirm="<?= e(trans('blogrw.blog::lang.blog.delete_confirm')) ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', false)"
        data-stripe-load-indicator>
        <?= e(trans('backend::lang.list.delete_selected')) ?>
    </button>
    <a href="<?= Backend::url('blogrw/blog/categories/reorder') ?>" class="btn btn-default oc-icon-sitemap">
        <?= e(trans('blogrw.blog::lang.category.reorder')) ?>
    </a>
</div>
