{% set posts = __SELF__.posts %}

<div class="post-list-wrapper">

    {% for post in posts %}

    <section class="post-item">

        <div class="post-image">
            {% set cover = post.featured_images.first %}
            <img data-src="{{ cover.filename }}" src="{{ cover.path }}" alt="{{ cover.description }}" />
        </div>

        <div class="post-content">

            <div class="post-header">

                <a href="{{ post.url }}">
                    <h3 class="post-title">{{ post.title }}</h3>
                </a>

            </div>

            <span class="info">
                <i class="far fa-calendar-alt"></i> {{ post.published_at|date('M d, Y') }}
            </span>

            <div class="post-body">
                <p class="summary">{{ post.summary|raw }}</p>
            </div>

            {% if post.categories.count %}
            <div class="post-tags">

                {% for category in post.categories %}
                    <span class="tags"><a href="{{ category.url }}">{{ category.name }}</a></span>{% if not loop.last %}, {% endif %}
                {% endfor %}

            </div>
            {% endif %}

            <div class="post-footer">
                <a href="{{ post.url }}" alt="" class="readmore-button">{{ __SELF__.readMore }}</a>
            </div>

        </div>

    </section>

    {% else %}

    <section class="items-not-found">

        <div class="img-wrapper">
            <img class="icon-not-found" src="{{ 'plugins/blogrw/blog/assets/images/sad.svg' }}" alt="Sad face not found icon" />
        </div>

        <div class="info">
            <h3>{{ __SELF__.noPostsMessage }}</h3>
        </div>

    </section>

    {% endfor %}

    {% if posts.lastPage > 1 %}

        {{ posts.links|raw }}

    {% endif %}

</div>

