<form method="POST" data-request="onSend" data-request-validate data-request-success="this.reset();">
    
    <div class="form-row">
        <div class="form-group col-md-6">    
            <label for="first_name">{{ 'contact.firstName'|_ }}</label>
            <input type="text" name="first_name" class="form-control">
            <p data-validate-for="first_name" class="text-danger"></p> 
        </div>

        <div class="form-group col-md-6">
            <label for="last_name">{{ 'contact.lastName'|_ }}</label>
            <input type="text" name="last_name" class="form-control">
            <p data-validate-for="last_name" class="text-danger"></p> 
        </div>
    </div>

    <div class="form-group">
        <label for="email">{{ 'contact.email'|_ }}</label>
        <input type="email" name="email" class="form-control">
        <p data-validate-for="email" class="text-danger"></p> 
    </div>

    <div class="form-group">
        <label for="phone">{{ 'contact.phone'|_ }}</label>
        <input type="text" name="phone" class="form-control">
        <p data-validate-for="phone" class="text-danger"></p> 
    </div>

    <div class="form-group">
        <label for="message">{{ 'contact.message'|_ }}</label>
        <textarea rows="6" cols="20" name="message" class="form-control"></textarea>
        <p data-validate-for="message"  class="text-danger"></p> 
    </div>

    <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="terms_and_conditions" />
          <label class="form-check-label" for="terms_and_conditions">{{ 'contact.accept_terms'|_ }}</label>
          <p data-validate-for="terms_and_conditions"  class="text-danger"></p> 
        </div>
    </div>

    <div class="g-recaptcha" data-sitekey="_your_site_key_" data-callback="onSend" data-size="invisible">
    </div>

    <div class="form-group">
        <button type="submit" class="readmore-button g-recaptcha" data-sitekey="your_site_key" data-attach-loading>{{ 'contact.send'|_ }}</button>
    </div>
</form>
