{% set consent = __SELF__.consent %}
{% set cookie_types = __SELF__.cookie_types %}

{% if consent != null %}
<div class="cookie-wrapper">

	<div id="gdpr-cookie-message" class="cookie-container fadeIn">
		<input type="hidden" id="uncheck_boxes" value="{{ consent.uncheck_boxes }}" />
		<input type="hidden" id="expires" value="{{ consent.expires }}" />

		<div class="content-wrapper">
			<h4 class="title">
				{{ consent.title }}
			</h4>

			<p class="message"> 

				{{ consent.message|raw }}

				<a href="{{ consent.link }}" class="link" alt="Enlace a la página de políticas de cookies">
					{{ consent.link_text }}
				</a>

			</p>
		</div>

		<div id="gdpr-cookie-types" class="cookie-types-wrapper">

			<h5 class="cookie-types-title">
				{{ consent.cookie_types_title }}
			</h5>

			<ul class="cookies-list">

				<li class="cookies-item" >
					<input type="checkbox" name="gdpr[]" value="necessary" checked="checked" disabled="disabled"/>
					<label title="{{ cookie_types_description }}">
						{{ consent.fixed_cookie_type_text }}
					</label>
				</li>

				{% for type in cookie_types %}
					<li class="cookies-item" >
						<input type="checkbox" id="gdpr-cookietype-preferences" name="gdpr[]" value="{{ type.name }}" data-auto="on" /> 
						<label for="gdpr-cookietype-preferences" title="{{ type.description }}">
							{{ type.name }}
						</label>
					</li>
				{% endfor %}

			</ul>

		</div>

		<div class="button-section">
			<button id="gdpr-cookie-accept" class="accept" type="button">
				{{ consent.accept_btn_text }}
			</button>
				<button id="gdpr-cookie-advanced" class="advanced" type="button">
				{{ consent.advanced_btn_text }}
			</button>
		</div>

	</div>
</div>
{% endif %}
