description = "Default layout"
[localePicker]

[cookie_consent]
==
<!DOCTYPE html>
<html lang="{{ activeLocale }}">

    <!-- Head -->
    <head>
        {% partial 'site/head' %}
    </head>

    <body>
        
        <!-- Navbar -->
        {% partial 'site/navbar' %}
        
        <!-- Header -->
        {% if this.page.id == 'home' %}
            {% partial 'site/carousel' %}
        {% endif %}

        <!-- Content -->
        <main id="layout-content">
            {% page %}
        </main>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>

        {% partial 'site/scripts' %}


        {% component 'cookie_consent' %}

    </body>
</html>
